li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: red;
}
.header-menu-item {
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.header-menu {
  text-align: center;
}
.background {
  height: calc(100vh - 250px);

  background-image: url("../img/image\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px;
  height: 400px;
  width: 1211px;
}
.nav-menu {
  margin: -5px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  margin: 40px;
  color: #373737;
}
.main-title-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  text-align: center;
  letter-spacing: 2.4px;

  color: black;
  padding-left: 80px;
  padding-right: 80px;
}
.btn {
  background: red;

  display: block;
  width: 200px;
  padding: 15px;
  margin: 20px auto;
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 60px;
}
.footer-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2.4px;
  margin-top: 100px;
  padding-left: 1000px;
  color: black;
}
